.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: grid;
    place-items: center;
    z-index: 1;
}

.modal-container {
    height: auto;
    width: auto;
    background: #fff;
    padding: 2rem 4.5rem;
    border-radius: 2px;
}

.modal-container h3 {
    text-align: center;
}

.modal-container .info {
    text-align: center;
    font-size: 18px;
}

.modal-container img {
    width: 180px;
    cursor: pointer;
    margin: 1rem 0 0.5rem 0;
}

.modal-container .price {
    color: rgb(147, 147, 147);
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}